.sortableLayout {
	width:880px;
	margin:0 auto 40px;
}

.sortableLayout__item-placeholder,
.sortableLayout__item {
	height:200px;
	border:1px solid #999;
	margin:9px;
	float:left;
	position:relative;
	background:#fff;
}

.sortableLayout__changeSize,
.sortableLayout__flipper {
	position:absolute;
	bottom:5px;
	right:15px;
	font-size:24px;
	color:#444;
	outline:none;
	z-index:20;
}
.sortableLayout__changeSize {
	bottom:auto;
	top:5px;
	width:70px !important;
	font-size:.8em;
	padding:0 !important;
	display:none;
}
.sortableLayout__item:hover .sortableLayout__changeSize {
	display:block;
}

.sortableLayout__item  {
	width:200px;
}

.sortableLayout__item-placeholder {
	background:#DAFFE3;
}

.sortableLayout__item .imagePreview {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:3;
}
.sortableLayout__item .imagePreview.image-size-1 {
	z-index:1;
}
.sortableLayout__item .imagePreview img {
	display:block;
	width:100%;
	height:auto;
}

.sortableLayout__item-placeholder .image-size-1,
.sortableLayout__item .image-size-1,
.sortableLayout__item-placeholder[data-colspan="1"] .image-size-1,
.sortableLayout__item[data-colspan="1"] .image-size-1,
.sortableLayout__item-placeholder[data-colspan="2"] .image-size-2,
.sortableLayout__item[data-colspan="2"] .image-size-2,
.sortableLayout__item-placeholder[data-colspan="3"] .image-size-3,
.sortableLayout__item[data-colspan="3"] .image-size-3,
.sortableLayout__item-placeholder[data-colspan="4"] .image-size-4,
.sortableLayout__item[data-colspan="4"] .image-size-4 {
	display:block;
}



.sortableLayout__item-placeholder[data-colspan="2"],
.sortableLayout__item[data-colspan="2"] {
	width:420px;
}

.sortableLayout__item-placeholder[data-colspan="3"],
.sortableLayout__item[data-colspan="3"] {
	width:640px;
}

.sortableLayout__item-placeholder[data-colspan="4"],
.sortableLayout__item[data-colspan="4"] {
	width:860px;
}




.sortableLayout__item-side {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	padding:35px 15px 15px;
	background:#fff;
}

.sortableLayout__item-front {
	cursor:move;
	z-index:5;
	background:url(../images/picture-icon.png) no-repeat center center;
}


.sortableLayout__item.flipped .sortableLayout__item-front {
	filter:alpha(opacity=20);
	opacity:.2;
}
.sortableLayout__item-back {
	display:none;
}

.sortableLayout__item.flipped .sortableLayout__item-back {
	display:block;
	z-index:5;
	background:rgba(255, 255, 255, .3);
}

.sortableLayout__item-side .button {
	display:block;
	width:100%;
}