<div class="sortableLayout__item js-sortableLayout__item" data-size="{{sortable_size}}">

  <div class="sortableLayout__item-side sortableLayout__item-front">
    <a href="#" class="sortableLayout__flipper js-sortableLayout__flipper">&raquo;</a>
  </div>

  <div class="sortableLayout__item-side sortableLayout__item-back">
    <a href="#" class="sortableLayout__flipper js-sortableLayout__flipper">&laquo;</a>
  </div>

</div><!-- /.sortableLayout__item -->