<div class="sortableLayout__item js-sortableLayout__item" data-colspan="{{colspan}}">
  <select class="sortableLayout__changeSize js-sortableLayout__changeSize" name="{{field_name}}[colspan][]">
    <optgroup label="Spanning">
      <option {{colspan_1_selected}}>1</option>
      <option {{colspan_2_selected}}>2</option>
      <option {{colspan_3_selected}}>3</option>
      <option {{colspan_4_selected}}>4</option>
    </optgroup>
    <optgroup label="Other">
      <option value="x">Delete</option>
    </optgroup>
  </select>

  <div class="sortableLayout__item-side sortableLayout__item-front">
    <a href="#" class="sortableLayout__flipper js-sortableLayout__flipper">&raquo;</a>
    <div class="imagePreview image-size-1 js-image-size-1"><img src="{{image_size_1}}" alt="" /></div>
    <div class="imagePreview image-size-2 js-image-size-2"><img src="{{image_size_2}}" alt="" /></div>
    <div class="imagePreview image-size-3 js-image-size-3"><img src="{{image_size_3}}" alt="" /></div>
    <div class="imagePreview image-size-4 js-image-size-4"><img src="{{image_size_4}}" alt="" /></div>
  </div>

  <div class="sortableLayout__item-side sortableLayout__item-back">
    <ul>
      <li>
        <button class="button-secondary button button-small js-uploader">Pick Image</button>
        <input type="hidden" name="{{field_name}}[image][]" value="{{image_id}}" />
      </li>
      <li><input type="text" placeholder="External URL" name="{{field_name}}[external_url][]" value="{{url}}" /></li>
      <li>
      <select name="{{field_name}}[open_in_new_window][]">
        <option value="0">Open In same Window</option>
        <option value="1" {{open_in_new_window}}>Open In new Window</option>
      </select>
      </li>
    </ul>
    <a href="#" class="sortableLayout__flipper js-sortableLayout__flipper">&laquo;</a>
  </div>

</div>