<div class="sortableLayout clearfix js-ntzSortableLayout">
  {{#items}}
    {{>sortable-item}}
  {{/items}}

</div><!-- /.sortableLayout -->
<p style="text-align:center"><a href="#" class="button-primary js-sortableLayout__addItem">Add Tile</a></p>

<script type="text/template" id="ntz-sortableLayoutItem">
  {{>sortable-item}}
</script><!-- /#ntz-sortableLayoutItem -->