
    ?>
<tr class="field_option field_option_<?php echo $this->name; ?>">
  <td class="label">
    <label><?php _e("Preview Size",'acf'); ?></label>
    <p><?php _e("Shown when entering data",'acf') ?></p>
  </td>
  <td>
    <?php

    do_action('acf/create_field', array(
      'type'    =>  'radio',
      'name'    =>  'fields['.$key.'][preview_size]',
      'value'   =>  $field['preview_size'],
      'layout'  =>  'horizontal',
      'choices'   =>  apply_filters('acf/get_image_sizes', array())
    ));

    ?>
  </td>
</tr>
<tr class="field_option field_option_<?php echo $this->name; ?>">
  <td class="label">
    <label><?php _e("Library",'acf'); ?></label>
    <p><?php _e("Limit the media library choice",'acf') ?></p>
  </td>
  <td>
    <?php

    do_action('acf/create_field', array(
      'type'    =>  'radio',
      'name'    =>  'fields['.$key.'][library]',
      'value'   =>  $field['library'],
      'layout'  =>  'horizontal',
      'choices'   =>  array(
        'all' => __('All', 'acf'),
        'uploadedTo' => __('Uploaded to post', 'acf')
      )
    ));

    ?>
  </td>
</tr>
    <?php
