<div class="sortableLayout clearfix js-ntzSortableLayout">
  {{#items}}
    {{>sortable-item}}
  {{/items}}

</div><!-- /.sortableLayout -->
<p style="text-align:center"><a href="#" class="button-primary">Add Tile</a></p>